/*
    FONT
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  width: 100%;
  padding-bottom: 40px;
  min-height: 100vh;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
}

h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

a,
a:hover,
a:focus {
  font-family: 'Poppins', sans-serif;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
  padding: 15px 10px;
  background: yellow;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .1);
}

/*
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  background: yellow;
}
*/
#topbar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  overflow: hidden;
}

#topbar ul li a:hover {
  color: #F2AC1B;
  background: 0 0 2rem 0 rgba(0, 0, 0, .2);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #00226C;
}

/* ---------------------------------------------------
    NAVBAR BUTTON STYLE
----------------------------------------------------- */
.btn-info,
.btn-info:focus {
  background: #00226C;
  color: white;
}

.btn-info:hover {
  background: #F2AC1B;
}

.btn-info:active {
  color: white;
  background: #F2AC1B;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.d-flex {
  display: flex !important;
}

#wrapper {
  overflow-x: hidden;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #00226C;
  color: #fff;
  transition: opacity 0.3s ease-out;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2);
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header img,
#sidebar.active .sidebar-heading {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

#sidebar.active .sidebar-heading h5,
#sidebar.active .sidebar-heading {
  display: none;
}

#sidebar .sidebar-header {
  background: #F2AC1B;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar.active ul li span {
  display: none;
}

#sidebar.active ul li i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar ul li a:hover {
  color: #F2AC1B;
  background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #F2AC1B;
}

a[data-toggle="collapse"] {
  position: relative;
}

/*
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}
*/
/*
ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #00226C !important;
  color: #fff !important;
}*/
/*
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
*/
/* ---------------------------------------------------
    INDEX CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  transform: scale(1.05);
}

#orgs img {
  width: 35%;
  height: 35%;
}

/* ---------------------------------------------------
  LOGIN REGISTER STYLE
----------------------------------------------------- */
.bg {
  background-image: url("../img/campusblur.jpg");
  /*  -webkit-backdrop-filter: blur(2px);*/
  background-attachment: fixed;
  /*   backdrop-filter: blur(2px);

 /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
    min-height: 100vh;

}

#asterisk::after {
  content: " *";
  color: red;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.greyclr {
  color: white !important;
  background-color: darkgray;
}

select {
  color: black;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
  margin: 20px;
}

select:hover::after {
  color: #23b499;
}

select:invalid {
  color: grey;
}

select::-ms-expand {
  display: none;
}

option {
  min-width: 500px;

  /* ---------------------------------------------------
  FOOTER
----------------------------------------------------- */
  #layoutAuthentication {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  #layoutAuthentication #layoutAuthentication_content {
    min-width: 0;
    flex-grow: 1;
  }

  #layoutAuthentication #layoutAuthentication_footer {
    min-width: 0;
  }

  /* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -250px;
    }

    #sidebar.active {
      margin-left: 0;
    }

    #sidebar.active span {
      display: none;
    }

    #navbarSupportedContent i {
      display: none;
    }
  }
