
html,
body {
  height: 100%;
width: 100%;
}

body {
  padding-bottom: 40px;
}

.bg {
  background-image: url("../img/camp.jpg");
  height: 100vh;
   -webkit-backdrop-filter: blur(2px);
  background-attachment: fixed;
   min-height: 100vh;
  backdrop-filter: blur(2px);

 /* Center and scale the image nicely */
 background-repeat:no-repeat;
background-size:cover;
background-position:center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover
}


/* Height for devices larger than 576px */
@media (min-width: 992px) {
  .bg-image {
    margin-top: -58.59px;
  }
}
