/*
    FONT
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Open+Sans:wght@300&display=swap');

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
html,
body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0 !important;
  padding: 0 !important;
  background-size: 100% 100%;
  /* overflow-x: hidden; */
  max-width: 100%;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
}

h3, h4, h5, h4 {
  font-family: 'Inter', sans-serif;
}

h4 {
  font-size: 20px;
}

textarea {
  resize: none;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  font-family: 'Inter', sans-serif;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/*
i,
span {
  display: inline-block;
}
*/
/* validation */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  border: 1px solid #468847;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  border: 1px solid #d9534f;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-warning {
  background-color: #FFE4DE;
  border-left-color: #d9534f;
  color: #d9534f;
}

.bs-callout-success {
  background-color: #DCF9D8;
  border-left-color: #5cb85c;
  color: #5cb85c;
}

#hidden {
  display: none;
}

.breadcrumb {
  background: #fff;
  color: #00226C;
}

.breadcrumb-item:hover {
  color: #F2AC1B;
  background: 0 0 2rem 0 rgba(0, 0, 0, .2);
}

[aria-current="page"]:hover {
  color: #6c757d;
}

[aria-label="desc"]:hover {
  color: #00226C;
}

[aria-label="profile"]:hover {
  color: #F2AC1B;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  width: 100%;
}

/*
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  background: yellow;
}
*/
#topbar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  overflow: hidden;
}

#topbar a:active {
  background-color: white;
}

#topbar ul li a:hover {
  color: #F2AC1B;
  background: 0 0 2rem 0 rgba(0, 0, 0, .2);
}

#topbar ul li.active>a,
a[aria-expanded="true"] {
  background: #fff !important;
  color: #F2AC1B !important;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #00226C;
}

/* ---------------------------------------------------
    NAVBAR BUTTON STYLE
----------------------------------------------------- */
.btn-info,
.btn-info:focus {
  margin-left: 10px;
  background: #00226C;
  color: white;
}

.btn-info:hover {
  background: #F2AC1B;
}

.btn-info:active {
  color: white;
  background: #00226C;
}

.btn-revise {
  color: #ffffff;
  background-color: #FF9671;
  border-color: #FF9671;
  border-radius: .25rem;
}

.btn-revise:hover,
.btn-revise:active,
.btn-revise:focus,
.btn-revise.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #AA6F5A;
  color: #ffffff;
  border-color: #AA6F5A;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.d-flex {
  display: flex !important;
}

#wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #00226C;
  color: #fff;
  transition: opacity 0.3s ease-out;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header img,
#sidebar.active .sidebar-heading {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

#sidebar.active .sidebar-heading h5,
#sidebar.active .sidebar-heading {
  display: none;
}

#sidebar .sidebar-header {
  background: #F2AC1B;
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar.active ul li span {
  display: none;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active ul ul i {
  font-size: 1.2em !important;
}

#sidebar ul li a:hover {
  color: #F2AC1B;
  background: #004A90;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  color: #F2AC1B;
  background: #004A90;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

a[data-toggle="collapse"] {
  position: relative;
}

#sidebar ul.components {
  padding: 20px 0;
  /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

/*
ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #00226C !important;
  color: #fff !important;
}*/
/*
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
*/
/* ---------------------------------------------------
    INDEX CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

.cards {
  transition: all 0.2s ease;
  cursor: pointer;
}

.cards:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

#orgs img {
  width: 35%;
  height: 35%;
}

/* ---------------------------------------------------
  LOGIN REGISTER STYLE
----------------------------------------------------- */
.bg {
  background-image: url("../img/camp-blur.jpg");
  /*  -webkit-backdrop-filter: blur(2px);*/
  background-attachment: fixed;
  /*   backdrop-filter: blur(2px);

 /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
  min-height: 100vh;
}

.bg-admin {
  background-image: url("../img/campusblur.jpg");
  /*   -webkit-backdrop-filter: blur(2px);

 backdrop-filter: blur(2px);*/
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  overflow-x: hidden;
  min-height: 100vh;
}

#asterisk::after {
  content: " *";
  color: red;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.greyclr {
  color: white !important;
  background-color: darkgray;
}

select {
  color: black;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}

select:hover::after {
  color: #23b499;
}

select:invalid {
  color: grey;
}

select::-ms-expand {
  display: none;
}

option {
  min-width: 500px;
}

#select-opt {
  color: gray;
}

#select-opt option {
  color: black;
}

#displayError2 {
  display: none;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  /*color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;*/
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  /*color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;*/
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 3px;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.errorspannewpassinput, .errorspanconfirmnewpassinput {
  color: red;
}

/*----
USER Management
----*/
.table-users table h2 {
  text-align: center;
  padding: 20px 0;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

#tb {
  overflow-x: hidden;
}

/*----
Projects
----*/
.card-counter {
  position: relative;
  color: #fff;
  padding: 20px 10px 40px;
  margin: 20px 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.card-counter:hover {
  text-decoration: none;
  color: #f1f1f1;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-counter:hover .icon i {
  font-size: 100px;
  transition: 1s;
  -webkit-transition: 1s;
}

.card-counter .inner {
  padding: 5px 10px 0 10px;
}

.card-counter h3 {
  font-size: 27px;
  font-weight: bold;
  margin: 0 0 8px 0;
  white-space: nowrap;
  padding: 0;
  text-align: left;
}

.card-counter p {
  font-size: 15px;
}

.card-counter .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 72px;
  color: rgba(0, 0, 0, 0.15);
}

.card-counter .card-counter-footer {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  padding: 3px 0;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  text-decoration: none;
}

.card-counter:hover .card-counter-footer {
  background: rgba(0, 0, 0, 0.3);
}

.card-counter.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counter.bg-warning {
  color: white;
}

.card-counter.done {
  background-color: #00C9A7;
}

.card-counter.masterlist {
  background-color: #845EC2;
}

.card-counter.events {
  background-color: #FF9671;
}

.btn-circle {
  background-color: #F2AC1B;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle:hover {
  background-color: #FFB486;
  color: white;
}

.btn-circle:visited {
  color: white !important;
}

.btn-done {
  background-color: #00C9A7;
  color: white;
}

.btn-done:hover {
  background-color: #398B77;
  color: white;
}

.btn-done:active {
  background-color: #398B77;
  color: white;
}

/*.card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }
*/
.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.currency {
  padding-left: 22px;
}

.currency-symbol {
  position: absolute;
  padding: 4px 7px;
  font-size: 17px;
  padding-top: 5px;
}

.wrap {
  background: white;
}

/* ---------------------------------------------------
  FOOTER
----------------------------------------------------- */
#layoutAuthentication {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#layoutAuthentication #layoutAuthentication_content {
  min-width: 0;
  flex-grow: 1;
}

#layoutAuthentication_footer {
  display: none;
}

table.master {
  margin: 0 auto;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed;
  justify-content: center;
  border-bottom: none;
  overflow-x: none !important;
}

table.dataTable.no-footer {
  border-bottom: 0 !important;
}

table.master th {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  background-color: #E5E4E2;
  text-align: center !important;
}

table.master td {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  text-align: center !important;
}

div.table-responsive {
  max-width: 100%;
  width: 95%;
  overflow-x: hidden;
}

select[readonly]:read-only {
  pointer-events: none;
}

input[id^="project_deets"]::-webkit-input-placeholder {
  color: #212529;
}

textarea[id^="project_deets"]::-webkit-input-placeholder {
  color: #212529;
}

#rejected {
  color: red;
}

#rejected:hover {
  color: white;
}

#approved {
  color: green;
}

#approved:hover {
  color: white;
}

.form-label {
  color: #495057;
}

.modal-body input, .modal-body textarea {
  color: black;
}

.projectdesc {
  padding: 30px 0px;
  border-bottom: 1px solid grey;
}

table.stud th {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  background-color: #E5E4E2;
  /*   text-align: center !important;*/
}

table.stud td {
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
  /*   text-align: center !important;*/
}

div.table-stud {
  max-width: 100%;
  width: 95%;
}

/* student profile */
.student-profile .card {
  border-radius: 10px;
}

.student-profile .card .card-header .profile_img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px auto;
  border: 10px solid #F2AC1B;
  border-radius: 50%;
}

.student-profile .card h3 {
  font-size: 20px;
  font-weight: 700;
}

.student-profile .card p {
  font-size: 16px;
  color: #000;
}

.student-profile .table th,
.student-profile .table td {
  font-size: 14px;
  padding: 5px 10px;
  color: #000;
}

.upload-button {
  padding: 4px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 5px;
  display: block;
  float: left;
}
.profile_img {
  transition: .5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -120px);
  -ms-transform: translate(-20%, -80%);
  text-align: center;
}

.container:hover .profile_img {
  opacity: 0.8;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
.file-upload {
  display: none;
}

/*user forum*/
.white-bg {
  background-color: #ffffff;
}

.page-heading {
  border-top: 0;
  padding: 0 10px 20px 10px;
}

.forum-post-container .media {
  margin: 10px 10px 10px 10px;
  padding: 20px 10px 20px 10px;
  border-bottom: 1px solid #f1f1f1;
}

.forum-avatar {
  float: left;
  margin-right: 20px;
  text-align: center;
  width: 110px;
}

.forum-avatar .img-circle {
  height: 48px;
  width: 48px;
}

.author-info {
  color: #676a6c;
  font-size: 11px;
  margin-top: 5px;
  text-align: center;
}

.forum-post-info {
  padding: 9px 12px 6px 12px;
  background: #f9f9f9;
  border: 1px solid #f1f1f1;
}

.media-body>.media {
  background: #f9f9f9;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
}

.forum-post-container .media-body .photos {
  margin: 10px 0;
}

.forum-photo {
  max-width: 140px;
  border-radius: 3px;
}

.media-body>.media .forum-avatar {
  width: 70px;
  margin-right: 10px;
}

.media-body>.media .forum-avatar .img-circle {
  height: 38px;
  width: 38px;
}

.mid-icon {
  font-size: 66px;
}

.forum-item {
  margin: 10px 0;
  padding: 10px 0 20px;
  border-bottom: 1px solid #f1f1f1;
}

.views-number {
  font-size: 24px;
  line-height: 18px;
  font-weight: 400;
}

.forum-container,
.forum-post-container {
  padding: 30px !important;
}

.forum-item small {
  color: #999;
}

.forum-item .forum-sub-title {
  color: #999;
  margin-left: 50px;
}

.forum-title {
  margin: 15px 0 15px 0;
}

.forum-info {
  text-align: center;
}

.forum-desc {
  color: #999;
}

.forum-icon {
  float: left;
  width: 30px;
  margin-right: 20px;
  text-align: center;
}

a.forum-item-title {
  color: inherit;
  display: block;
  font-size: 18px;
  font-weight: 600;
}

a.forum-item-title:hover {
  color: #F2AC1B;
}

.forum-icon .fa {
  font-size: 30px;
  margin-top: 8px;
  color: #9b9b9b;
}

.forum-item.active .fa {
  color: #1ab394;
}

.forum-item.active a.forum-item-title {
  color: #1ab394;
}

@media (max-width: 992px) {
  .forum-info {
    margin: 15px 0 10px 0;
    /* Comment this is you want to show forum info in small devices */
    display: none;
  }

  .forum-desc {
    float: none !important;
  }
}

/*---------------------------------------------------------
Survey
--------------------------------------------------------*/
.survey-form input,textarea,select {
    outline: 0;
}
.survey-form h2, .survey-form h5 {
    margin: 0;
    color: #6a737f;
    font-weight: 600;
    text-align:center;
}

.survey-form h1 i {
    font-size: 24px;
}
.survey-form {
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);
}
.survey-form .fields {
    position: relative;
    padding: 20px;
}
.survey-form select {
    appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #c7c9cb 50%), linear-gradient(135deg, #c7c9cb 50%, transparent 50%), linear-gradient(to right, #dfe0e0, #dfe0e0);
    background-position: calc(100% - 20px) 20px, calc(100% - 15px) 20px, calc(100% - 40px) 10px;
    background-size: 5px 5px, 5px 5px, 1px 25px;
    background-repeat: no-repeat;
}
.survey-form select option:first-child {
    display: none;
 }
.survey-form input[type="date"]::-webkit-calendar-picker-indicator {
    color: #ddd;
    filter: invert(0.8);
}
.survey-form input[type="text"],
.survey-form input[type="email"],
.survey-form input[type="date"],
.survey-form input[type="tel"],
.survey-form select {
    display: flex;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    flex-basis: 100%;
    height: 47px;
}
.survey-form input[type="text"]:focus,
.survey-form input[type="email"]:focus,
.survey-form input[type="tel"]:focus,
.survey-form input[type="date"]:focus,
.survey-form select:focus {
    border: 1px solid #c6c7c7;
}
.survey-form input[type="text"]::placeholder,
.survey-form input[type="email"]::placeholder,
.survey-form input[type="tel"]::placeholder,
.survey-form input[type="date"]:invalid,
.survey-form textarea::placeholder,
.survey-form select:invalid {
    color: #858688;
}
.survey-form textarea {
    resize: none;
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #dfe0e0;
    width: 100%;
    height: 150px;
}
.survey-form textarea:focus {
    border: 1px solid #c6c7c7;
}
.survey-form .buttons {
    padding: 20px;
    border-top: 1px solid #eceff2;
}
.survey-form .btn {
    display: inline-block;
    padding: 10px 20px;
    border: 0;
    background-color: #F2AC1B;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
}
.survey-form .btn:hover {
    background-color: #9E7F51;
}
.survey-form .btn.alt {
    background-color: transparent;
    border: 1px solid #F2AC1B;
    color:#F2AC1B;
}
.survey-form .btn.alt:hover {
    border: 1px solid #9E7F51;
    color: #9E7F51;
}
.survey-form input[name="email"] {
    position: relative;
    display: block;
}
.survey-form .field {
    display: inline-flex;
    position: relative;
    width: 100%;
    padding-bottom: 20px;
}
.survey-form label, .survey-form p {
    font-size: 14px;
    font-weight: 600;
    color: #8e939b;
}
.survey-form .field i {
    position: absolute;
    color: #dfe2e5;
    font-style: bold;
    top: 25px;
    left: 15px;
    z-index: 10;
}
.survey-form .field i ~ input {
    padding-left: 45px !important;
}
.survey-form .responses {
    padding: 15px;
    margin: 0;
}
.survey-form .fields .wrapper {
    display: flex;
    justify-content: space-between;
}
.survey-form .fields .wrapper > div {
    width: 100%;
}
.survey-form .fields .wrapper .gap {
    width: 35px;
}
.survey-form .steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: calc(100% - 35px);
    align-self: center;
    margin: 0 auto;
}

.survey-form .steps::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f2f4f7;
    margin: auto 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.survey-form .steps .step {
    width: 25px;
    height: 25px;
    background-color: #f2f4f7;
    border: 3px solid #f2f4f7;
    border-radius: 50px;
    z-index: 1;
}
.survey-form .steps .step.current {
    background-color: #00226C;
}
.survey-form .steps .step.complete {
    background-color: #F2AC1B;
}
.survey-form .rating {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}
.survey-form .rating input[type="radio"]:checked,
.survey-form .rating input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.survey-form .rating input[type="radio"]:checked + label,
.survey-form .rating input[type="radio"]:not(:checked) + label
{
    display: flex;
    position: relative;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    cursor: pointer;
    color: #8e939b;
    z-index: 10;
}
.survey-form .rating input[type="radio"]:checked + label:before,
.survey-form .rating input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #dfe0e0;
    border-radius: 100%;
    background: #fff;
    z-index: -1;
}
.survey-form .rating input[type="radio"]:checked + label:after,
.survey-form .rating input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 31px;
    height: 31px;
    border-radius: 100%;
    background: #F2AC1B;
    z-index: -1;
}
.survey-form .rating input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
.survey-form .rating input[type="radio"]:checked + label {
    color: #fff;
}
.survey-form .rating input[type="radio"]:checked + label:after {
    opacity: 1;
}
.survey-form .rating-footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #8e939b;
    padding: 15px 0 25px;
}
.survey-form .group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 15px;
}
.survey-form .group label {
    display: flex;
    font-weight: 500;
    height: 25px;
    align-items: center;
    padding-bottom: 5px;
}
.survey-form .group input[type="radio"],
.survey-form .group input[type="checkbox"] {
    appearance: none;
    display: inline-flex;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #dfe0e0;
    background-color: #eef1f1;
    border-radius: 50%;
    margin-right: 10px;
}
.survey-form .group input[type="radio"]:hover,
.survey-form .group input[type="checkbox"]:hover {
    border: 1px solid #d2d3d3;
}
.survey-form .group input[type="radio"]:checked,
.survey-form .group input[type="checkbox"]:checked {
    border: 1px solid #d2d3d3;
    background-color: #2996ed;
}
.survey-form .group input[type="checkbox"] {
    border-radius: 0;
}
.survey-form .step-content {
    display: none;
}
.survey-form .step-content.current {
    display: block;
}
.survey-form .result {
    padding: 25px;
}
.survey-form .result h3 {
    color: #6a737f;
}
.survey-form .result p {
    font-weight: 500;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1025px) and (max-width: 1280px) {
  #card-show {
    display: none;
  }
}

@media all and (min-width: 769px) and (max-width: 1024px) {
  #card-show {
    display: none;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  #card-show {
    display: none;
  }
 }


@media all and (min-width: 320px) and (max-width: 480px) {

#btntitle {
  display: none;
}
#orgtitle {
  margin-top: 10px;
  width: 110%;
  font-size: 4vw;
}
#comsoctitle {
  width: 200%;
  font-size: 4vw;
}
.breadcrumb {
  width: 100%;
  font-size: 15px;
}
  #eventhide {
  display: none;
  }
  small {
      font-size: 10px;
  }
#titlejru{
      display: none;

  }
#titleproj {
  font-size: 5vw;
  margin-left: -80%;
  width: 300%;
}
.modal-footer {
margin-left: -10%;
}
#editmodal {
    margin-top:10%;
         margin-left: 2%;
      width: 130%;
      max-height:90%;
      overflow-y: auto;
  }
#viewmodal {
    margin-top:10%;
         margin-left: 2%;
      width: 130%;
      max-height:90%;
      overflow-y: auto;
  }
#changePass {
  margin-top:50%;
    max-height:90%;
    overflow-y: auto;
}
#proftable {
display: none;
  }
  #card-show {
    display:block;
  }
  h4 {
    font-size: 5vw;
    width: 200%;
  }
  h3 {
    font-size: 5vw;
  }
 .cards {
   margin: 10%;
 }
.card-profile {
  justify-content: center;
  width: 130%;
     margin-left: -15%;
}
 #orgs {
   margin-left: -5%;
 }
  #sidebar {
    margin-left: -250px;
  }

  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }

  #sidebar.active {
    margin-left: 0;
  }

  #sidebar.active span {
    display: none;
  }

  #navbarSupportedContent i {
    display: none;
  }

  .dropdown-toggle {
    display: none;
  }
}
